<h1>New comment</h1>

<form id="new-comment" name="comment">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value=<%= content %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Comment" />
  </div>

</form>

<a href="#/index">Back</a>