<div id="comments"></div>

<%= javascript_tag do %>
  $(function() {
    window.router = new BackboneFo.Routers.CommentsRouter({comments: <%= @comments.to_json.html_safe -%>});
    Backbone.history.start();
  });
<% end %>